<!DOCTYPE html>
<html data-layout-decorate="~{fragments/admin-layout}">
  <head>
    <title>UserList</title>
  </head>
  <body>
  
        <!-- page content -->
        <div class="right_col" role="main" data-layout-fragment="content">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>User List</h3>
              </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                 <!--  <div class="x_title">
                    <h2>Search Criteria</h2>
                    <div class="clearfix"></div>
                  </div> -->
                  <div class="x_content">
                    <form id="demo-form2" data-th-action="@{/user/list-user}" data-parsley-validate class="form-horizontal form-label-left" method="get">
                      <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label  col-md-4 col-sm-4 col-xs-12" for="first-name">用户账号</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input type="text" id="first-name" name="username" class="form-control">
                        </div>
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">Email</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input type="text"  name="email" class="form-control">
                        </div>
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="middle-name" class="control-label col-md-4 col-sm-4 col-xs-12">Login Token</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input  class="form-control" type="text" name="loginToken">
                        </div>
                      </div>
                      <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Created Date</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input class="date-picker form-control" type="text" name="creationDate">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 center"> 
						  <button class="btn btn-default" type="reset">Reset</button>
                          <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="btn-group">
					  <a href="#" data-th-href="@{/user/add-user}" type="button" class="btn btn-default"  aria-haspopup="true" aria-expanded="false">
					    Add
					  </a>
					  <button type="button" class="btn btn-default"  aria-haspopup="true" aria-expanded="false">
					    Update
					  </button>
					  <button type="button" class="btn btn-default"  aria-haspopup="true" aria-expanded="false">
					    Delete
					  </button>
					  <div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Export/Import <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">下载模板</a></li>
					    <li><a href="#">数据导入</a></li>
					    <li><a href="#">数据导出</a></li>
					  </ul>
					</div>
					</div>
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">编号</th>
                            <th class="column-title">用户账号</th>
                            <th class="column-title">email</th>
                            <th class="column-title">登陆Token</th>
                            <th class="column-title">创建时间</th>
                            <th class="column-title no-link last"><span class="nobr">操作</span>
                            </th>
                            <th class="bulk-actions" colspan="6">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="even pointer" data-th-each="user,item:${users.list}">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" " data-th-text="${item.count}">John Blank L</td>
                            <td class=" " data-th-text="${user.username}">121000040</td>
                            <td class=" " data-th-text="${user.email}">May 23, 2014 11:47:56 PM </td>
                            <td class=" " data-th-text="${user.loginToken}">Paid</td>
                            <td class="a-right a-right " data-th-text="${user.creationDate}">$7.45</td>
                            <td class=" last"><a href="#" data-th-value="${user.userId}">View</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <div data-th-replace="fragments/fragment-pager::page-admin-nav(${users})"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
  </body>
</html>