<!DOCTYPE html>
<html data-layout-decorate="~{common/common-layout}">
<head>
<title>Login</title>
</head>
<body>
	<divclass="login" data-layout-fragment="content">
		<div>
			<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
				id="signin"></a>

			<div class="login_wrapper">
				<div class="animate form login_form">
					<section class="login_content">
						<form>
							<h1>Login Form</h1>
							<div>
								<input type="text" class="form-control" placeholder="Username"
									name="userAccount"/>
							</div>
							<div>
								<input type="password" class="form-control"
									placeholder="userPassword" name="password" />
							</div>
							<div>
								<a class="btn btn-default submit" href="index.html">Log in</a> <a
									class="reset_pass" href="#">Lost your password?</a>
							</div>

							<div class="clearfix"></div>

							<div class="separator">
								<p class="change_link">
									New to site? <a href="#signup" class="to_register"> Create
										Account </a>
								</p>

								<div class="clearfix"></div>
								<br />

								<div>
									<h1>
										<i class="fa fa-paw"></i> Admin By LIUHAO
									</h1>
									<p>©2017 All Rights Reserved.</p>
								</div>
							</div>
						</form>
					</section>
				</div>

				<div id="register" class="animate form registration_form">
					<section class="login_content">
						<form data-th-action="@{/user/register}" method="post">
							<h1>Create Account</h1>
							<div>
								<input type="text" class="form-control" name="username" placeholder="Username" />
							</div>
							<div>
								<input type="email" class="form-control" placeholder="Email"
									name="email" />
							</div>
							<div>
								<input type="password" class="form-control"
									placeholder="Password" name="password" />
							</div>
							<div>
								<input type="submit" class="btn btn-default submit" value="Submit">
								<!-- <a class="btn btn-default submit" href="index.html" data-th-href="@{/user/register}">Submit</a> -->
							</div>

							<div class="clearfix"></div>

							<div class="separator">
								<p class="change_link">
									Already a member ? <a href="#signin" class="to_register">
										Log in </a>
								</p>

								<div class="clearfix"></div>
								<br />

								<div>
									<h1>
										<i class="fa fa-paw"></i> Gentelella Alela!
									</h1>
									<p>©2016 All Rights Reserved. Gentelella Alela! is a
										Bootstrap 3 template. Privacy and Terms</p>
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
